body
{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
.navbar
{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:80px;
	padding: 0 0 0 100px;
	box-sizing: border-box;
	transition : .5s;
}

.navbar .channel
{
	position: relative;
}
.navbar ul
{
	margin:0;
	padding:0;
	display:flex;
	float:right;
	background: rgba(0,0,0,.5);
	
}
.navbar ul li
{
	list-style:none;
	line-height: 80px;
	text-align : center;
}
.navbar ul li a
{
	display: block;
	padding: 0 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 16px;
}
.navbar ul li a.active,
.navbar ul li a:hover
{
	background:#fd2928;
	color:#fff;
}
.container{
white-space: nowrap;
overflow: hidden;
}



section
{
	width: 100%;
	height: 100vh;
	box-sizing:border-box;
	
}
section.sec1
{
	background:black;
	background-size: cover;
	background-attachment: fixed;
}
section.sec1 img
{}
section.sec1 p
{    color: pink;
	font-size: 60px;
	float: center;
 
text-align: center;
visibility: visible;
box-sizing: border-box;
font-weight: 500;
}
section.sec1 h2
{    
	color: white;
	font-size: 180px;
  float: center;


text-align: center;
visibility: visible;
box-sizing: border-box;
font-weight: 500;
}
section.sec2
{ 
	background: black;
	padding:100px;	
	height: auto;
text-align: center;


}

.sec2.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: background: rgba(0,0,0,.5);
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box p{
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}
#b,#c,.box input[type = "password"],.box input[type = "gmail"],.box input[type = "date"],.box input[type = "phone"]{
  border:#a52ecc;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #a52ecc;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
#a{
  border:#a52ecc;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #a52ecc;
  padding: 70px 70px;
  width: 800px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

textarea::placeholder{
   text-align: center;
}
.box select{
  border:#a52ecc;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #a52ecc;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box select:focus{
  width: 280px;
  border-color: #071b29;
  background: none;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "gmail"]:focus,.box input[type = "date"]:focus,.box input[type = "phone"]:focus{
  width: 280px;
  border-color: #071b29;
  background: none;
}
.box input[type = "submit"]{
  border:0;
  background: #071b29;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #071b29;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background:#a52ecc;
}


section.sec2 p
{    color: white;
	font-size: 18px;
}
section.sec3
{
	background:url(../img/iml.jpeg);
	background-size: cover;
	background-attachment: fixed;
}
section.sec4
{ 
	background: black;
	padding:100px;	
	height: auto;
}

section.sec4 p
{    color: white;
	font-size: 18px;
	text-align: center;
}

section.sec4 dd,dt
{    color: white;
	font-size: 18px;

}

section.sec5
{
	background:url(../img/image.jpg);
	background-size: cover;
	background-attachment: fixed;
}


/* Footer */

	#footer {
		padding: 4rem 0 2rem 0 ;
		background: #000;
		text-align: center;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.5);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3rem 0 1rem 0 ;
			}

		}